.about_ > div:nth-child(1){
  width : 70vw ;
  align-items: flex-start ;
}
@media only screen and (max-width : 900px){
  .about_ > div:nth-child(1) {
    width : 90vw
  }
}
.about_ > div:nth-child(1) > div {
  height: 30vh ;
  justify-content: space-around ;
  align-items: flex-start ;
}
[data-inviewport="a_txt_1"]{
  transition-duration: .8s ;
  transform : translateX(-15vw) ;
}
[data-inviewport="a_txt_1"].is-in{
  transform : translateX(0vw) ;
}
.about_ > div:nth-child(1) > div > button {
  transform: translateX(10vw) ;
}
.about_ > div:nth-child(1) > h1{
  font-family: 'Fatface';
  font-size : 10em ;
  align-self: flex-end ;
  width : 40vw ;
  font-weight : 100 ;
  letter-spacing: .1em ;
  text-align: center ;
  color : var(--background) ;
}
@media only screen and (max-width : 900px){
  .about_ > div:nth-child(1) > h1 {
    font-size : 5em ;
    align-self: center ;
  }
}
.about_ > div:nth-child(2) {
  position: absolute ;
  height : 40vw ;
  width : 40vw ;
  z-index: -1 ;
  background: conic-gradient(from 135deg, rgba(155, 148, 142,0),#9B948E);
}
[data-inviewport="a_des"]{
  transition-duration: 1.3s ;
  transform : translateX(-30vw) ;
}
[data-inviewport="a_des"].is-in{
  transform : translateX(15vw) ; 
}
@media only screen and (max-width : 900px){
  .about_ > div:nth-child(2) {
    height : 80vw ;
    width : 60vw ;
  }
  [data-inviewport='a_des'].is-in{
    transform : translateX(10vw)
  }
}