#_btn{
  height : 2.1em ;
  padding : 0 2em ;
  border : 1px solid var(--main-color) ;
  background : transparent ;
  text-align: center ;
  transition-duration : .3s ;
}
#_btn a{
  color : var(--main-color) ;
  text-decoration: none;
  height : 100% ;
  width: 100% ;
  font-family: Monospace;
  font-size : 1em ;
  letter-spacing: .1em;
  outline: none ;
}
#_btn:hover{
  background : rgba(255,255,255,.1);
  cursor : pointer ;
}
#_btn:focus{
  outline: none ;
}
#_btn a:hover{
  text-decoration: none;
}
#_btn a:active{
  color : var(--background)
}
#_btn:active{
  background : var(--main-color) ;
}