:root {
	--background-0: rgba(0, 0, 0, 0);
	--background-1: #000;
	--background-2: linear-gradient(to right top, #202020, rgba(0, 0, 0, 0));
	--transition-1: 0.3s;
	--border-1: #626262;
	--border-2: #393939;
	--color-1: #fff;
	--color-2: #9A9A9A;
	--color-3: #989797;
	--gap-1: 1em;
}

@font-face {
	font-family: ibm;
	src: url("./fonts/IBMPlexMono-Regular.ttf");
}

* {
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
	transition-duration: var(--transition-1);
}

html {
	height: 100vh;
	width: 100%;
	scrollbar-color: var(--border-2) var(--background-1);
	scrollbar-width: thin;
}

body, div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--color-1);
	font-style: monospace;
	font-family: ibm;
	background: var(--background-0);
}

body {
	height: 100%;
	width: 100%;
	background: var(--background-1);
	row-gap: var(--gap-1);
}

a {
	text-decoration: none;
	&::after, &::before {
		transition-duration: var(--transition-1);
		display: block;
		height: 16px;
		width: 16px;
	}
	&:hover {
		color: var(--color-1);
		text-decoration: underline;
		&::after, &::before { filter: brightness(3) }
	}
}

.main_divs {
	border: 1px solid var(--border-1);
	padding: var(--gap-1);
}

.text_1 { color: var(--color-1) }
.text_2 { color: var(--color-2) }
.text_3 { color: var(--color-3) }

.title {
	color: var(--color-3);
	font-size: 11px;
}

body > div {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	column-gap: var(--gap-1);
}

body > div:nth-child(1) {
	height: 30%;
	align-items: end;
}

body > div:nth-child(2) { height: 55% }
body > div > div { height: 100% }

body > div:nth-child(1) > div:nth-child(1) {
	width: calc(45% - (var(--gap-1) / 2));
	display: flex;
	flex-direction: row;
	align-items: start;
}

body > div:nth-child(1) > div:nth-child(1) > img {
	height: 100%;
	width: contain;
	filter: brightness(0.90) contrast(1.05);
}

body > div:nth-child(1) > div:nth-child(1) > div {
	height: 100%;
	width: 75%;
	padding: var(--gap-1);
	display: flex;
	align-items: start;
	justify-content: end;
	flex-direction: column;
}

body > div:nth-child(1) > div:nth-child(2) {
	width: calc(55% - (var(--gap-1) / 2));
	height: 80%;
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-1);
}

body > div:nth-child(1) > div:nth-child(2) > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
	height: calc((100% / 3) - (var(--gap-1) / 2));
	padding: 0 var(--gap-1);
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: calc(var(--gap-1) / 2);
	align-items: center;
	&::after { content: url("./svgs/link.svg") }
	&::before {
		content: url("./svgs/file.svg");
		height: 12px;
		width: 12px;
		margin-right: 10px;
		margin-bottom: 4px;
	}
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a > p { text-decoration: underline }

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
	min-height: calc((100% / 3) * 2 - (var(--gap-1) / 2));
	row-gap: 0.5em;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > a {
	width: 100%;
	min-height: 2em;
	height: contain;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: calc(var(--gap-1) / 2);
	padding: 0 calc(var(--gap-1) / 2);
	&::after { content: url("./svgs/link.svg") }
}  

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > a > div > p {
	width: 100%;
	text-decoration: underline;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > a:nth-child(2)::before { content: url("./svgs/mail.svg") }
body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > a:nth-child(3)::before { content: url("./svgs/github.svg") }

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > a > div {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 0 0.5em;
}

body > div:nth-child(2) > div { height: 100% }
body > div:nth-child(2) > div:nth-child(1) { width: calc(60% - var(--gap-1) / 2) }
body > div:nth-child(2) > div:nth-child(2) { width: calc(40% - var(--gap-1) / 2) }

body > div:nth-child(2) > div:nth-child(1) > div {
	max-height: 100%;
	overflow: auto;
	width: 100%;
	padding: calc(var(--gap-1) / 2);
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	row-gap: var(--gap-1);
	scrollbar-color: var(--border-2) var(--background-1);
	scrollbar-width: thin;
}

body > div:nth-child(2) > div:nth-child(1) > div > a {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	row-gap: calc(var(--gap-1) / 2);
	text-decoration: none;
	&:hover {
		border-color: var(--border-1);
		background-position: 100% 100%;
		&>p:nth-child(1) {
			&::after { filter: brightness(3) }
			text-decoration: underline;
		}
	}
}

body > div:nth-child(2) > div:nth-child(1) > div > a > p:nth-child(1) {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: calc(var(--gap-1) / 2);
	&::after {
		content: url("./svgs/github.svg");
		display: block;
		height: 16px;
		width: 16px;
		margin-left: 10px;
	}
}

body > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(5) > p:nth-child(1)::after { content: url("./svgs/link.svg") }
body > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(1) > p:nth-child(1)::after { content: url("./svgs/link.svg") }
body > div:nth-child(2) > div:nth-child(1) > div > a > a > p { font-size: 18px }

body > div:nth-child(2) > div:nth-child(1) > div > a > p:nth-child(2) {
	margin-left: auto;
	font-size: 12;
	font-family: monospace;
}

body > div:nth-child(2) > div:nth-child(1) > div > a > p:nth-child(3) {
	width: 100%;
	margin-bottom: 100%;
	font-size: 12px;
}

body > div:nth-child(2) > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-1);
}

body > div:nth-child(2) > div:nth-child(2) > div, .education_section { width: 100% }

/*body > div:nth-child(2) > div:nth-child(2) > div:nth-child(1)*/ 
.education_section {
	height: calc(50% - var(--gap-1) / 2);
	background: url("./images/1337.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	row-gap: var(--gap-1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
	min-height: calc(30% - var(--gap-1) / 2);
	height: auto;
}

body > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
	height: auto;
	min-height: calc(20% - var(--gap-1) / 2);
}

body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
body > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	row-gap: calc(var(--gap-1) / 2);
}

body > div:nth-child(2) > div:nth-child(2) > div > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	row-gap: calc(var(--gap-1) / 2);
	column-gap: calc(var(--gap-1) / 2);
	flex-wrap: wrap;
	overflow: auto;
	scrollbar-color: var(--border-2) var(--background-1);
	scrollbar-width: thin;	
}

body > div:nth-child(2) > div:nth-child(2) > div > div > div { padding: calc(var(--gap-1) / 3) var(--gap-1) }
body > div:nth-child(2) > div:nth-child(2) > div > div > div > p { font-size: 15px }

.card {
	background-image: var(--background-2);
	border: 1px solid var(--border-2);
}

.as_above { display: none }
.so_below { display: flex }

@media screen and (max-width: 1100px), screen and (max-height: 900px) {
	body { height: auto }
	body > div {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		height: contain;
		row-gap: var(--gap-1);
	}
	body img { width: 25% }
	body > div > div { min-width: 100% }
	body > div:nth-child(1) > div:nth-child(1) { align-items: end }
	body > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) { padding: var(--gap-1) var(--gap-1) }
	body > div:nth-child(2) > div:nth-child(1) {
		padding: 0px;
		border: 0px;
	}
	body > div:nth-child(2) > div:nth-child(1) > div {
		width: 100%;
		padding: 0px;
	}
	body > div:nth-child(2) > div:nth-child(1) > p { display: none }
	body > div:nth-child(2) > div:nth-child(1) > div > div { max-height: 3em }
	.education_section { min-height: 10em }
	.as_above { display: flex }
	.so_below { display: none }
}
