:root {
	--background-0: rgba(0,0,0,0);
	--background-1: #000;
	--background-2: ;
	--background-3: ;
	--transition-1: 0.3s;
	--border-1: ;
	--border-2: ;
	--border-3: ;
	--color-1: #fff;
	--color-2: ;
	--color-3: ;
	--gap-1: 1em;
	--margin-1: .5em;
	--margin-2: 1em;
}

::selection {
	background: var(--color-1);
	color: var(--background-1);
}

@font-face {
	font-family: ibm;
	src: url("./fonts/IBMPlexMono-Regular.ttf");
}

* {
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
	transition-duration: var(--transition-1);
}

html {
	height: 100vh;
	width: 100%;
	scrollbar-color: var(--border-1) var(--background-0);
	scrollbar-width: thin;
}

body, div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--color-1);
}

body {
	height: 100%;
	width: 100%;
	background: var(--background-1);
	color: var(--color-1);
}

a {
	text-decoration: none;
	&::after, &::before {
		transition-duration: var(--transition-1);
		display: block;
	}
	&:hover {
		text-decoration: underline;
	}
}

body > div {
	border: 1px solid red;
	width: 80%;
}

body > div:nth-child(1) {
	height: 5%;
}

body > div:nth-child(2) {
	height: 60%;
}
body > div:nth-child(3) {
	height: 3%;
}
body > div:nth-child(4) {
	height: 13%;
}
