:root {
	--background-0: rgba(0,0,0,0);
	--background-1: #000;
	--background-2: ;
	--background-3: ;
	--transition-1: 0.3s;
	--border-1: ;
	--border-2: ;
	--border-3: ;
	--color-1: #fff;
	--color-2: ;
	--color-3: ;
	--gap-1: 1em;
	--margin-1: .5em;
	--margin-2: 1em;
}

::selection {
	background: var(--color-1);
	color: var(--background-1);
}

@font-face {
	font-family: "b612";
	src: url("./fonts/b612_mono/B612Mono-Regular.ttf");
}

@font-face {
	font-family: "b612_italic";
	src: url("./fonts/b612_mono/B612Mono-Italic.ttf");
}

@font-face {
	font-family: "edu_sa";
	src: url("./fonts/edu_sa_beginner/EduSABeginner-Regular.ttf");
}

@font-face {
	font-family: "ibm_plex_mono";
	src: url("./fonts/ibm_plex_mono/IBMPlexMono-Regular.ttf");
}

@font-face {
	font-family: "overpass_mono";
	src: url("./fonts/overpass_mono/OverpassMono-Regular.ttf");
}

@font-face {
	font-family: "xanh";
	src: url("./fonts/xanh_mono/XanhMono-Regular.ttf");
}

@font-face {
	font-family: "xanh_italic";
	src: url("./fonts/xanh_mono/XanhMono-Italic.ttf");
}

* {
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
	transition-duration: var(--transition-1);
}

html {
	height: 100vh;
	width: 100%;
	scrollbar-color: var(--border-1) var(--background-0);
	scrollbar-width: thin;
}

body, div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--color-1);
}

body {
	height: 100%;
	width: 100%;
	background: var(--background-1);
	color: var(--color-1);
}

a {
	text-decoration: none;
	&::after, &::before {
		transition-duration: var(--transition-1);
		display: block;
	}
	&:hover {
		text-decoration: underline;
	}
}

p {
	border: 1px solid rgb(70, 70, 70);
	font-family: ibm_plex_mono;
	text-transform: uppercase;
	font-size: 12px;
}

body > div {
	/*border: 1px solid red;*/
	max-width: 1488px;
	width: 90%;
}

body > div:nth-child(1) {
	height: 3%;
	display: flex;
	align-items: center;
	justify-content: end;
	flex-direction: row;
	max-height: 25px;
}

body > div:nth-child(1) > p {
	width: 10%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

body > div:nth-child(2) {
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 639px;
}

/* the magic */
body > div:nth-child(2)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	pointer-events: none;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.9' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='discrete' tableValues='0 1'/%3E%3CfeFuncG type='discrete' tableValues='0 1'/%3E%3CfeFuncB type='discrete' tableValues='0 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	opacity: 0.45;
	mix-blend-mode: overlay;
	filter: contrast(150%) brightness(80%);
}

body > div:nth-child(2) > div {
	height: 100%;
	width: 97%;
	background: linear-gradient(119deg, #1b1b1b00 20%, #383838 83%);
	color: grey;
}

body > div:nth-child(2) > div > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body > div:nth-child(2) > div > div:nth-child(1) {
	width: 65%;
}

body > div:nth-child(2) > div > div:nth-child(1) > div {
	border: 1px solid rgb(70, 70, 70);
	width: 90%;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(1) {
	height: 20%;
	color: rgba(255,255,255,0.8);
	padding: 0 2em;
}

body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1) {
	font-family: 'xanh';
	font-size: 3.4em;
	display: flex;
	flex-direction: row;
}

body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1)::after {
	content: "";
	display: block;
	height: 1.1em;
	width: 1.3em;
	background-image: url("./icons/gg2176378.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(3px);
	filter: saturate(1.6);
	opacity: 0.6;
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(2) {
	font-family: 'b612';
	font-size: 2.1em;
}

body > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1) {
	font-family: 'xanh';
	font-size: 3.4em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:start; 
	height: 50%;
}

body > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1)::after {
	content: "";
	display: block;
	height: 1.5em;
	width: 1.5em;
	background-image: url("./icons/gg21763787632048x2048.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/*transform: translate(-6px, -9px);*/
	filter: saturate(1.1);
	opacity: 0.6;
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(2) {
	font-family: 'b612';
	font-size: 2.1em;
	height: 50%;
	display: flex;
	align-items: start;
	justify-content: start;
}


body > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
}

body > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > img {
	height: 70%;
	width: auto;
	filter: saturate(1.1);
	opacity: 0.6;
	align-self: center;
	transform: translate(.6em, -0.3em);
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	height: auto;
	width: auto;
}

body > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div > h1:nth-child(1) {
	font-family: 'b612';
	font-size: 2.1em;
	display: flex;
	align-items: end;
	justify-content: end;
}

body > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div > h1:nth-child(2) {
	font-family: 'xanh';
	transform: translateY(-0.3em);
	font-size: 3.4em;
}


body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) {
	height: 70%;
}

body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}

body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img{
	height: 100%;
	width: auto;
	transform: scale(1.3) translateX(-10%) translateY(-8%);
	filter: brightness(1) contrast(80%);
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) {
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: start;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div {
	height: 100%;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	width: 70%;
	gap: 5%;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 7px;
	height: auto;
	width: auto;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div > span {
	background: #C6C3C350;
	height: 0.5vh;
	width: 0.5vh;
	border-radius: 50%;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > img {
	height: 100%;
	width: auto;
	opacity: 0.8;
	transform: scale(1.1);
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p {
	border: none;
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3.5em;
	font-family: 'edu_sa';
	font-style: oblique 7deg;
	text-decoration: line-through;
	color: rgba(255,255,255,0.8);
	transform: translateX(-2px);
}

/* /// // // */

body > div:nth-child(2) > div > div:nth-child(2) {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div > div:nth-child(2) div {
	border: 1px solid rgb(70, 70, 70);
}

body > div:nth-child(2) > div > div:nth-child(2) > div {
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div {
}

/* // /// /// */

.hidden { display: none; }
.active { display: flex; }

/*body > div:nth-child(2) > div:nth-child(1) { border: 1px solid white; }*/
/*body > div:nth-child(2) > div:nth-child(2) { border: 1px solid yellow; }*/
/*body > div:nth-child(2) > div:nth-child(3) { border: 1px solid cyan; }*/

body > div:nth-child(3) {
	height: 2%;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	max-height: 17px;
}

body > div:nth-child(3) > p {
	height: 100%;
	width: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body > div:nth-child(3) > p:nth-child(1) { align-items: start; }
body > div:nth-child(3) > p:nth-child(2) { align-items: center; }
body > div:nth-child(3) > p:nth-child(3) { align-items: end; }

body > div:nth-child(4) {
	height: 14%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-height: 119px;
}

body > div:nth-child(4) > p {
	height: 100%;
	width: 30%;
}

body > div:nth-child(4) > p:nth-child(1) { text-align: left; }
body > div:nth-child(4) > p:nth-child(2) { text-align: right; }
