._load{
  background  : rgb(3,3,3) ;
  width : 100% ;
}
._load > img {
  border-radius: 50% ;
}
@keyframes spen{
  0%{
    transform : rotate(0deg)
  }
  100%{
    transform : rotate(360deg)
  }
}
._load > img:nth-child(1){
  height : 2em ;
  width : 2em ;
}
._load > img:nth-child(2){
  position : absolute ;
  height : 3em ;
  width : 3em ;
  animation : spen 1s ease infinite
}
