.intro > div {
  height : 70vh ;
  width : 90vw ;
  flex-direction : row ;
  align-items: center ;
  justify-content : space-between ;
  transform : translateY(-5vh);
  background-image: url('./img/augustine-wong-e1_3.jpg');
  background-size : cover ;
  background-position : center 
}
.intro > div > div:nth-child(1){
  align-self: flex-end ;
  align-items: flex-start ;
  padding :0 0 0 2em ;
}
.intro h1{
  font-size: 6em ;
  color : transparent ;
  font-family: 'El Messiri';
  -moz-text-stroke : 1px var(--main-color) ;
  -webkit-text-stroke: 1px var(--main-color);
}
.intro > div > div:nth-child(1) h2{
  font-size: 2em ;
  font-family: 'Bilbo';
  font-style: italic ;
  font-weight : 100 ;
  color : var(--main-color) ;
  transform : translateY(-50%)
}
.intro > div > div:nth-child(2){
  height : 100% ;
  width : 80% ;
}
.intro > div > div:nth-child(2) > svg {
  height : 100% ;
  width : 100%
}
.intro > div > div:nth-child(2) > svg > path{
  stroke :url('#lin_') ;
  stroke-width : 1 ;
}
