._slides{
  width : fit-content ;
  position : absolute ;
  top : 0% ;
  left : 0% ;
  z-index: 10 ;
  padding-left: 1em;
  justify-content: flex-start ;
}
._slides > div{
  position  : sticky ;
  top :  calc(50% - 4em) ;
  width: fit-content ;
  height : 8em ;
  justify-content: space-between ;
  align-items: flex-start ;
}
._slides > div > hr {
  width : 3em ;
  height : 1px ;
  border : 1px solid transparent ;
  transition-duration: .6s ;
  background : var(--main-color)
}
@media only screen and (max-width : 900px) {
  ._slides > div > hr {
    display : none ;
  }
}
._slides > div > hr:nth-child(1){
  width : 5em
}