._slides{
  width : fit-content ;
  position : absolute ;
  top : 0% ;
  left : 0% ;
  z-index: 10 ;
  padding-left: 1em;
}
._slides > div{
  position  : sticky ;
  top :  calc(50% - 5em) ;
  width: fit-content ;
  height : 8em ;
  justify-content: space-between ;
  align-items: flex-start ;
}
._slides > div > hr {
  width : 3em ;
  height : 1px ;
  border : 1px solid var(--main-color) ;
  background :var(--main-color);
  transition-duration: .6s ;
}
._slides > div > hr:nth-child(1){
  width : 5em
}