#to-up-btn{
  width : 2.5em ;
  height : 2.5em ;
  border-radius : 50% ;
  border  : 1px solid rgb(10,10,10) ;
  stroke : rgb(50,50,50) ;
  transition-duration : .3s ;
  background : transparent ;
  overflow:  hidden ;
}
#to-up-btn:hover{
  background : rgb(10,10,10) ;
  stroke : var(--main-color) ;
  cursor: pointer ;
}
#to-up-btn svg{
  height : 100% ;
  width : 100% ;
  stroke : inherit ;
}
#to-up-btn svg path{
  stroke-width : 4 ;
  stroke : inherit ;
}