:root{
  --speed_1 : 25s
}
/* */
@keyframes one_slider_0{
  30%{
    transform : translateX(0%) ;
  }
  
  33.33%{
    transform : translateX(100%) ;
  }
  69%{
    transform : translateX(100%) ;
  }
  
  80%{
    transform : translate(0%) ;
    
  }
}
@keyframes one_slider_1{
  33%{
    transform : translateX(0%)
  }
  38%{
    transform : translateX(100%)
  }
  70%{
    transform : translateX(100%)
  }
  73.33%{
    transform : translateX(-100%)
  }
  96.66%{
    transform : translateX(-100%)
  }
  100%{
    transform : translateX(0%)
  }
}
@keyframes one_slider_2{
  66.66%{
    transform : translateX(0%)
  }
  
  70%{
    transform : translateX(-100%)
  }
  98%{
    transform : translateX(-100%)
  }
  100%{
    transform : translateX(0%)
  }
}
@keyframes slid_{
  0%{
    transform : translateY(-83%)
  }
  100%{
    transform : translateY(0%)
  }
}
@keyframes slid_i{
  0%{
    transform : translateY(-66.66%)
  }
  100%{
    transform : translateY(0%)
  }
}
@keyframes slid_ii{
  0%{
    transform : translateY(-33.33%)
  }
  100%{
    transform : translateY(0%)
  }
}
/* */
.c_ontent{
  justify-content: flex-end ;
}
.c_ontent > div:nth-child(1) {
  width : 80% ;
  height : 60% ;
  flex-direction: row ;
  justify-content: space-between ;
}
@media only screen and (max-width : 900px ){
  .c_ontent > div:nth-child(1) {
    flex-direction : column 
  }
}
.c_ontent > div:nth-child(1) > div:nth-child(1){
  align-self: flex-start ;
  width : fit-content ;
  align-items: flex-start ;
  row-gap : 3em ;
  max-width:  35em ;
}
[data-inviewport='c_le_di']{
  transform : translateX(-100%) ;
}
.c_ontent > div:nth-child(1) > div:nth-child(1) a{
  color : var(--text) ;
  transition-duration: .3s ;
  text-decoration: none ;
  height : 100% ;
  width : 100% ;
  font-size: 1em ;
  letter-spacing: .1em ;
  font-family: monospace ;
}
.c_ontent > div:nth-child(1) > div:nth-child(1) p{
  font-size: 15px ;
}
.c_ontent > div:nth-child(1) > div:nth-child(1) a:hover{
  color : var(--main-color) ;
  text-decoration: none ;
}
.c_ontent > div:nth-child(1) > div:nth-child(2) {
  width : 37em ;
  height : 40vh ;
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div {
  height : 100% ;
  overflow : hidden ;
  justify-content: flex-start ;
}
[data-inviewport='c_ri_di']{
  transform : translateX(-150%) ;
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div >  div {
  width: fit-content;
  height : fit-content ;
  justify-content: flex-start ;
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div >  div > div {
  width : fit-content ;
  height : 40vh ;
  flex-direction: row ;
  align-items: flex-start ;
  overflow : hidden ;
}
[data-inviewport='c_ri_di'] ,
[data-inviewport='c_le_di']{
  transition-duration: 1.5s ;
  opacity : 00% ;
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div > div > div > img {
  width : 37em ;
  height : 100% ;
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(3) > img{
  min-height : 600% ;
  animation : slid_ 8s infinite alternate
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(4) > img{
  min-height : 300% ;
  animation : slid_i 5s infinite alternate
}
.c_ontent > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(5) > img{
  min-height : 150% ;
  animation : slid_ii 5s infinite alternate
}
[data-inviewport='c_ri_di'].is-in ,
[data-inviewport='c_le_di'].is-in {
  opacity : 100% ;
  transform : translateX(0%)
}
.c_ontent > div:nth-child(1) > div:nth-child(2)::after{
  content :  '' ;
  width : 37em ;
  position: absolute ;
  height : 40vh ;
  border : 1px solid var(--main-color) ;
  transform : translate(1em,1em) ;
  z-index: -1 ;
}
.c_ontent > div:nth-child(2) {
  height : 20% ;
}
.c_ontent > div:nth-child(2) > div {
  height : .4em ;
  width : 20em ;
  border : 1px solid rgb(10,10,10) ;
  flex-direction : row ;
  justify-content: flex-start ;
}
.c_ontent > div:nth-child(2) > div > div:nth-child(1){
  height : 100% ;
  transition-duration : .8s ;
  border-radius: 5px ;
  background : var(--main-color) ;
}
[data-inviewport='bar_']{
  min-width : 110% ;
}
[data-inviewport='bar_'].is-in{
  min-width : 20% ;
}
.c_ontent > div:nth-child(2) > div > div:nth-child(2){
  height : .6em ;
  width : .6em ;
  border-radius : 50% ;
  background : var(--main-color) ;
  transform : translateX(-50%) ;
}
