._canvas {
  width : 80% ;
  height : 70% ;
  flex-direction : row ;
  align-items: flex-start ;
  justify-content: space-between ;
  z-index: 2 ;
}
._canvas > div{
  height : 50% ;
}
._canvas > div:nth-child(1){
  width  : fit-content ;
  justify-content: flex-start ;
}
._canvas > div:nth-child(1) > div{
  position: sticky ;
  align-items: center ;
  top : 0% ;
}
._canvas > div:nth-child(1) > div > h1 ,
._canvas > div:nth-child(1) > div > h3 {
  color : var(--main-color) ;
}
._canvas > div:nth-child(1) > div > h1 {
  font-size: 2em ;
}
._canvas > div:nth-child(1) > div > h3{
  font-size: 1em ;
  font-style: italic ;
}
._canvas > div:nth-child(2){
  width : 50% ;
  align-self: center ;
  border : 1px solid var(--main-color)
}