._canvas {
  width : 80% ;
  height : 70% ;
  flex-direction : row ;
  align-items: flex-start ;
  justify-content: space-between ;
  z-index: 2
}
._canvas > div{
  height : 50%
}
._canvas > div:nth-child(1){
  width  : fit-content ;
  justify-content: flex-start
}
._canvas > div:nth-child(1) > div{
  position: sticky ;
  align-items: center ;
  top : 0%
}
._canvas > div:nth-child(1) > div > h1 ,
._canvas > div:nth-child(1) > div > h3 {
  color : var(--main-color) ;
  letter-spacing : .1em
}
._canvas > div:nth-child(1) > div > h1 {
  font-size: 2.5em ;
  font-family: 'El Messiri';
}
._canvas > div:nth-child(1) > div > h3{
  font-size: 1.5em ;
  font-family : 'Bilbo' ;
  font-style: italic 
}
/* */
._canvas > div:nth-child(2){
  height : 40% ;
  width : 45% ;
  align-self: center ;
  background : linear-gradient(to right bottom,rgb(5,5,5) 10%, rgba(255, 255, 255,.3) ) , var(--background);
}
._canvas > div:nth-child(2) > h1:nth-child(1) {
  color: var(--main-color);
  font-family: 'Bilbo' ;
  font-style : italic ;
  font-weight : 100 ;
  letter-spacing: .5em ;
  font-size: 7.5em ;
  transform : translateX(.25em) ;
}
._canvas > div:nth-child(2) > h1:nth-child(2) {
  font-size: 7.5em ;
  letter-spacing: .4em ;
  transform : translateX(.2em) ;
  position: absolute ;
  background: linear-gradient(to left top,#000 30%, rgba(255, 255, 255,.3) 100%);
  -webkit-background-clip: text ;
  -moz-background-clip: text ;
  background-clip: text ;
  color : transparent ;
  font-family: 'Fatface';
  
  
}
